.gallery {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
    width: 360px;
    height: 200px;
}